<form [formGroup]="foodForm">
    <div>
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Ingredientes</mat-label>
            <input matInput formControlName="Ingredientes">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Referência</mat-label>
            <textarea matInput formControlName="referencia"></textarea>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Preço</mat-label>
            <input matInput type="number" placeholder="0" formControlName="preço">
            <span matTextPrefix>$&nbsp;</span>
            <span matTextSuffix>.00</span>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Quantidade em Estoque</mat-label>
            <input type="number" matInput formControlName="totalEstoque">
        </mat-form-field>
    </div>

    <button mat-flat-button color="primary" (Click)="submitForm()">Enviar</button>
</form>